body{
    padding: 0;
    margin: 0;
}

main{
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgb(153, 132, 212), rgb(89, 46, 131));
}

.movingButton{
    display: inline-block;
    border-color: rgb(35, 12, 51);
    border-radius: 5px;
    border-style: groove;
    padding: 1em;
    background-color:rgb(178, 124, 102);
    margin: 1em;
}

/* .right{
    margin-left: 20em;
}

.down{
    margin-top: 30rem;
}

.vmiddle{
    margin-top: 15rem;
}

.final{
    margin-left: 50vw;
} */